<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: head">
</head>
<body>
<nav th:insert="fragments.html :: navbar"></nav>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="margin-bottom: 0">
        <li class="breadcrumb-item"><a href="/">Hjem</a></li>
        <li class="breadcrumb-item"><a href="/booking/new/date">Dato</a></li>
        <li class="breadcrumb-item"><a href="/booking/new/autocamper">Vælg autocamper</a></li>
        <li class="breadcrumb-item"><a href="/booking/new/customer">Kunde</a></li>
        <li class="breadcrumb-item"><a href="/booking/new/locations">Pick-up og drop-off</a></li>
        <li class="breadcrumb-item active" aria-current="page">Oversigt</li>
    </ol>
</nav>

<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 83.33%;" aria-valuenow="83.33%" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<div class="container">
    <div class="content">
        <h1>Booking Overblik</h1>
        <p class="font-weight-bold alert-warning">Tjek venligst at alle informationer stemmer inden du bekræfter</p>
        <ul class="list-group">
        <li class="list-group-item">
            <span class="font-weight-bold">Autocamper ID: </span><span th:text="${booking.autocamperId}"></span>
        </li>
        <li class="list-group-item">
            <span class="font-weight-bold">Kunde ID: </span><span th:text="${booking.customerId}"></span>
        </li>
        <li class="list-group-item">
            <span class="font-weight-bold">Fra: </span><span th:text="${booking.periodStart}"></span>
        </li>
        <li class="list-group-item">
            <span class="font-weight-bold">Til: </span><span th:text="${booking.periodEnd}"></span>
        </li>
        <li class="list-group-item">
            <span class="font-weight-bold">Pick-up: </span><span th:text="${booking.pickUp}"></span>
        </li>
        <li class="list-group-item">
            <span class="font-weight-bold">Drop-off: </span><span th:text="${booking.dropOff}"></span>
        </li>
        <li class="list-group-item">
            <span class="font-weight-bold">Total Pris: </span><span th:text="${booking.priceTotal}"></span>
        </li>
        </ul>

        <a th:href="@{/booking/new/complete}" class="btn btn-outline-success" role="button">Bekræft Booking</a>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.min.js}" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>