<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: head">
</head>
<body>
<nav th:insert="fragments.html :: navbar"></nav>

<div class="container">
    <div class="content">
        <h1>Kunder</h1>
        <br>
        <table class="table table-striped table-hover table-bordered">
            <tr>
                <th>ID</th>
                <th>Fornavn</th>
                <th>Efternavn</th>
                <th>Telefon Nummer</th>
                <th>Email</th>
                <th>Postnummer</th>
                <th>By</th>
                <th>Adresse</th>
                <th></th>
            </tr>
            <tr th:each="customer : ${customerList}">
                <td th:text="${customer.getId()}"></td>
                <td th:text="${customer.getFirstName()}"></td>
                <td th:text="${customer.getLastName()}"></td>
                <td th:text="${customer.getPhone()}"></td>
                <td th:text="${customer.getMail()}"></td>
                <td th:text="${customer.getZipCode()}"></td>
                <td th:text="${customer.getCity()}"></td>
                <td th:text="${customer.getAddress()}"></td>
                <td>
                    <div th:if="${bookingInProgress == 'yes'}" class="btn-group">
                        <form action="#" th:action="@{/booking/new/customerExisting}" method="post">
                            <input type="hidden" name="id" id="id" th:value="${customer.getId()}">
                            <button class="btn btn-outline-primary" name="submit" type="submit" value="Vælg">Vælg</button>
                        </form>
                        <!---<a th:href="@{/booking/new/customerProcessExisting(id=${customer.getId()})}" class="btn btn-outline-primary " role="button">Vælg</a>-->
                    </div>
                    <div th:if="${bookingInProgress == null}" class="btn-group">
                        <a href="" class="btn btn-outline-primary " role="button">Rediger</a>
                        <a href="" class="btn btn-outline-danger" role="button">Slet</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.min.js}" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>