<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: head">
</head>
<body>
<nav th:insert="fragments.html :: navbar"></nav>

<div class="container">
    <div class="content">
        <h1>Bookinger</h1>
        <br>
        <table class="table table-striped table-hover table-bordered">
            <tr>
                <th>ID</th>
                <th>Autocamper ID</th>
                <th>Kunde ID</th>
                <th>Fra</th>
                <th>Til</th>
                <th>Drop-off</th>
                <th>Pick-up</th>
                <th>Total Pris</th>
                <th></th>
            </tr>
            <tr th:each="bookingDTO : ${bookingList}">
                <td th:text="${bookingDTO.id}"></td>
                <td th:text="${bookingDTO.autocamperId}"></td>
                <td th:text="${bookingDTO.customerId}"></td>
                <td th:text="${bookingDTO.periodStart}"></td>
                <td th:text="${bookingDTO.periodEnd}"></td>
                <td th:text="${bookingDTO.dropOff}"></td>
                <td th:text="${bookingDTO.pickUp}"></td>
                <td th:text="${bookingDTO.priceTotal}"></td>
                <td>
                    <div class="btn-group">
                        <a href="" class="btn btn-outline-primary " role="button">Rediger</a>
                        <a href="" class="btn btn-outline-danger" role="button">Slet</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.min.js}" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>