<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: head">
</head>
<body>
<nav th:insert="fragments.html :: navbar"></nav>

<div class="container" style="max-width: 960px">
    <div class="content">
    <h1>Nordic Motorhome Rental</h1>
        <!--<img class="img-fluid" src="https://img.icons8.com/plasticine/2x/rv-campground.png">-->
        <img class="img-fluid" src="https://dk.adria-mobil.com/img/range-images/sonic.png?v=3">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a sapien laoreet, posuere odio at, placerat eros. Cras a laoreet lorem, ac commodo tellus. Pellentesque vitae leo et nulla lacinia fringilla sit amet et leo. Suspendisse aliquam ornare nunc, in semper dolor rhoncus laoreet. Etiam hendrerit sapien nec pharetra pharetra. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla at nulla nec erat finibus fringilla id nec sapien. </p>

            <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Quisque sit amet risus at magna volutpat tempus in a enim. Donec suscipit, ligula vel vulputate varius, massa dolor sagittis neque, nec suscipit quam elit et justo. Nunc id tellus auctor, iaculis ipsum nec, auctor enim. Sed ullamcorper suscipit lacus. Cras viverra pellentesque condimentum. Fusce ac nunc aliquam, tincidunt neque sit amet, efficitur felis.</p>

        <p>Pellentesque vitae consectetur magna, id malesuada ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam dignissim, tellus non maximus vulputate, orci orci scelerisque magna, in efficitur eros ligula et mi. In pharetra ut nibh vitae porttitor. Suspendisse sagittis lacus quam, et maximus mauris vulputate semper. Ut mollis blandit auctor. Maecenas sit amet ipsum ut augue dignissim maximus. Mauris pharetra turpis ut magna hendrerit scelerisque. Sed accumsan ligula nulla, sed fermentum ex suscipit a.</p>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.min.js}" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>